body {
   	color: white;
  	background-color: grey;
 }

a {
	color:grey;
}

.coeur {
	align-content: center;
	width: 800px;
	margin: auto;
	padding-bottom: 400px;
	background-color: #282824;
	text-align: center;
}

.postscripton {
	width: auto;
	margin: 7px;
	padding: 2px;
	background-color: white;
	color: black;
}


.postscripton button{
	background: none;
	display: block;
	margin: auto;	
	text-align: center;
	border: 2px solid #225486;
	padding: 5px 10px;
	width: auto;
	outline: none;
	color: black;
	border-radius: 24px;
	cursor:pointer;
	-webkit-transition:all 1s;
}
.postscripton button:hover {
	border: 3px solid #225486;
	-webkit-transform:scale(1.25);
}	

/* 	Animation lors du hover (il tourne et s'expand en en longueur)

.postscripton button:hover {
	-webkit-animation: bouttontourne 1s ease;
	-webkit-animation-fill-mode:forwards;
}	

@-webkit-keyframes bouttontourne { /* pour Opéra safari et chrome il faut ajouter -webkit-/*  avec opera on peut mette -o-
	50%{
		transform:rotate(-360deg);
	}
	100%{
		transform:rotate(-360deg);
		width: 150px;
	}

]} */