
/* Coeur de la page aka body ------------------------*/

* {
	box-sizing: border-box;
}

body {
	/*background-color: #EFEFEF;
	/*background: url(back.png) no-repeat top;
	background-attachment: fixed;*/
	margin:0;
}

.titre-theme {
	margin: 100px 0 50px 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.titre-theme:before {
	content:"";
	display: block;
	margin-bottom: 100px; 
	position: relative;
	left: 30%;
	width: 38%;
	border-top:2px solid white;
	box-shadow: 3px 3px 1px #21262c;
}

/* Header -----------------------------------------*/
/* 							Page principale n'a pas besoin d'un header comme dans projets
header {
	background: #21262c;
	padding: 5px 150px;
}

header img {
	position: absolute;
	left: -10px;
	top: -35px;
	transform: scale(0.35);

}

#titre {
	font-size:35px;
	color: #CACACA;
	font-family: 'Allerta Stencil', sans-serif;
}

#sous-titre {
	font-size:21px;
	color: #9e9e9e;
	font-family: 'Alegreya', serif;margin-left: 30px;
}

*/
/* Section -----------------------------------------*/


/* Footer -----------------------------------------*/

footer {
	background: #414141;
	margin-top: 200px;
	color:white;
	padding:.5px 10px;
}

footer span {
	float: right;
}

/* Design des divisions menus ---------------------*/

/* Bouton ouverture menu ---------*/
/*
.line {
	width: 35px;	pour telephone
	height: 3px;
	background: white;
	margin: 7px;
}

#ouverture-menu {
	position: absolute;
	cursor: pointer;
	padding: 3px;
	right: 3%;
	top:50px;
	transition: .5s ease;
}
*/

/* Design du menu ----------------*/

#menu {
	/*display: grid;	pour telephones
	max-height: 0;
	background:white;
	border-bottom: 2px solid grey;
	margin: 5px 3%;
	grid: 45px 45px / 25% 25% 25% 25%;
	grid-row-gap: 1px;
	overflow:hidden;*/
	float: right;
	margin-right: 5px;
	margin-top:3px;
}

nav {
	background: #21262c;
	width: 100%;
	margin-bottom: 5%;
	height: auto;
}

nav a {
	text-decoration: none;
}

nav img{
	margin:5px;
	position: relative;
	left: 20px;
}

#menu > a {
	/*padding-top: 4%;
	text-decoration: none;
	text-align: center;
	font-size: 110%;
	background-color: #21262c;
	color: #CACACA;
	margin: 0;*/
	font-family: 'Julius Sans One', sans-serif;
	text-decoration: none;
	display: inline-block;
	font-size: 120%;
	color: #CACACA;
	padding: 5px;
	margin:15px;


}


#menu > a:after{
	/*
	content:"";
	float: right;
	height: 22px;
	border-right:2px solid white;*/
	content:"";
	display: block;
	height: 3px;
	width: 0px;
	background: #6C63FF;
	transition: .3s ease;
}

#menu >a:hover:after{
	/*border:1px solid white;
	cursor: pointer;*/
	cursor: pointer;
	width: 105%;
}

#menu > a:hover {
	color: white;
}



/* Début des containers et projets ---------------*/
#titrecontaineur {
	position: relative;
	background: rgb(108,99,255,.8);
	left: 39%;
	width: 25%;
	height: 65px;
	transform: rotate(-5deg);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 190%;
	/*margin-top: 10%;*/
}

#titrecontaineur:after {
	display: inline-block;
	position: relative;
	top: -2px;
	width: 95%;
	content:"Bienvenu sur Halenveres"; /*aka Halenveres si j'ai un projet halenveres, akabis ηalendroit*/
	transform: rotate(5deg);
}

#container {
	display: flex;
	margin: 10px 9% 0 9%;
}

#texte-presentation {
	width:auto;
	max-width: 60%;
	align-self: center;
	margin-left: 1em;
	text-indent: 2em;
	letter-spacing: .5px;
	line-height: 20px;
}

#Imgcontainer{
	margin: 8px;
	/*background: grey;*/
	width: 40%;
}


/*Projets ----------------------------------------*/

.projets{
	display: grid;
	justify-content: center;
	grid-template-columns:45% 45%;
	grid-row-gap: 50px;
	grid-auto-rows: auto;
}

.projets > div {
	padding: 0 8px;
	margin: 0 10%;
	background: #EFEFEF;
}

.projets h2 {
	text-indent: 2em;
	transition: .2s ease;
}

.projets h2:hover{
	margin-left: 5px;
}

.lienproj{
	text-decoration: none;
	color: black;
}

.Imgfakeart{
	margin: 2px;
	padding: 2px;
	max-width: 95%;
}

.projets p {
	letter-spacing: .5px;
	line-height: 20px;
}

.projets .null a:after{
	content: "Indisponible";
	background: #6c63ff;
	position: relative;
	float: right;
	font-size: 90%;
	padding-right: 30px;
	transform: rotate(25deg);
	top:-10px;
}

.projets .encours a:after{
	content: "Bientôt...";
	background: #6c63ff;
	position: relative;
	float: right;
	font-size: 90%;
	padding-right: 30px;
	transform: rotate(25deg);
	top:-10px;	
}


/* Zone commentaire temporaire  --------------------*/
.Commentaires {
	margin-left: 20px;
	margin-right: 20px;
}

/*
#canevas {
	position: absolute;
	right: 10%;
}
*/

.Commentaires a {
	text-decoration: none;
	color:black;
}

.Commentaires #button {
	text-align: center;
	margin:5px auto;
	display:block;
	padding: 10px 10px;
	border:1px solid black;
	background: #6c51ff;
}





/* Adaptation en fonction des écrans -----------------*/

/* Attention faire des addaptations en fonction des navigateurs !!!!!!!!!*/

/* Tablettes -----------------------------*/

@media screen and (max-width: 800px) {

	#menu {
		grid:repeat(3 ,60px) / repeat(3, 110px);
  	}

  	.projets{
  		grid-template-columns: 45% 45%;
  	}
}



/* Telephones ---------------------------*/

@media (max-width: 600px) {

	header {
		padding: 1px 25px;
	}

	header img{
		display: none;
	}

	.titre-theme {
	margin: 100px 0 30px 30px;
	}

  	#titre {
  		font-size: 33px;
  	}

  	#sous-titre{
  		font-size: 20px;
  	}

  	#menu {
  		grid:repeat(4 ,45px) / repeat(2, 50%);

  	}

  	#menu > p{
  		padding-top: 6%;
  		font-size: 95%;
  	}

  	#ouverture-menu {
		right: 	4%;
	}

	.line{
		height: 2px;
		width: 	30px;
	}


	#titrecontaineur {
		font-size: 25px;
		width: 50%;
		left: 25%;
		height: 55px;

	}

  	.projets{
  		grid-template-columns: 90%;
  	}
}
