body {
   	color: white;
  	background-color: grey;
 }

a {
	color:grey;
}

header {
	color: black;
	height: 70px;
	background: #BFBFBF;
	text-align: center;
	}

footer{
	color: black;
	margin-top: 10px;
	padding-right: 10px;
	background: white;
	text-align: right;
}

.principal {
	align-content: center;
	width: 1000px;
	display:block;
	margin: auto;
	padding-bottom: 700px;
	background-color: #282824;
	text-align: center;
	z-index: 2;
}

.postscripton {
	width: auto;
	margin: 7px;
	padding: 2px;
	background-color: white;
	color: black;
}


.postscripton button{
	background: none;
	display: block;
	margin: auto;	
	text-align: center;
	border: 2px solid #225486;
	padding: 5px 10px;
	width: auto;
	outline: none;
	color: black;
	border-radius: 24px;
	cursor:pointer;
	-webkit-transition:0.25s;
}
.postscripton button:hover {
	-webkit-transform:scale(1.15);
}	



.menu {	
	float:left;
	align-items: center;
  	background: none;
  	width: 180px;
  	transition: all 0.4s ease;
}
.menu ul { 
	list-style:none;
	padding:0;
  	margin:0;
}
.menu ul li {
	letter-spacing: 1px;
	font: 12px 'Tahoma';
	border: 1px solid black;
	width: 100px;
	margin: 12% 10% 5px 10%;
	cursor: pointer;
	padding:7% 9%;
	transition: all 0.4s ease;
}


.menu ul li:hover {
	margin-left: 5px;
	width: 120px;
}

.menu ul li:hover::after {
	content:'<--';
	float: right;
	/*On a un margin car quand on float ça devient du absolue donc pas de padding*/
	margin-right: -5px;
}
.menu div {
	background: none;
	line-height: 150%;
	width: 90px;
	height:0px;
	overflow: hidden;
	padding: 0px 20px;
	border-bottom-right-radius: 10px;
	border-bottom:3px double black;
	transition:0.4s cubic-bezier(0, 1, 0.79, 1.07);
}

.menu a{
	display: block;
  	text-decoration: none;
  	align-self: right;
  	overflow-y: hidden;
  	padding-left: 15px;
  	width: 105px;
  	color: #000;
}
.menu a:hover{
	border:1px solid;
	border-image: linear-gradient(90deg,#414141, grey) 1;
}

.menu a:hover::after{
	content:"<- ";
	background: #414141;
	color: #414141;
	float: right;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-animation: sousmenu 0.2s ease;
	-webkit-animation-fill-mode:forwards;

}

@-webkit-keyframes sousmenu {
	100%{
		transform:translateX(-10px);
}

/* 	Animation lors du hover (il tourne et s'expand en en longueur)

.postscripton button:hover {
	-webkit-animation: bouttontourne 1s ease;
	-webkit-animation-fill-mode:forwards;
}	

@-webkit-keyframes bouttontourne { /* pour Opéra safari et chrome il faut ajouter -webkit-/*  avec opera on peut mette -o-
	50%{
		transform:rotate(-360deg);
	}
	100%{
		transform:rotate(-360deg);
		width: 150px;
	}

]} */