body {
   	color: white;
  	background-color: grey;
 }

a {
	color:grey;
}

#coeur {
	align-content: center;
	width: 800px;
	margin: 0 auto;
	padding-bottom: 400px;
	background-color: #282824;
	text-align: center;

}
#coeur input[type="submit"]{
	border:0;
	background: none;
	display: block;
	margin: auto;	
	text-align: center;
	border: 2px solid #225486;
	padding: 5px 10px;
	width: 10%;
	outline: none;
	color: white;
	border-radius: 24px;
	transition:0.25s;
	cursor:pointer;
}
#coeur input:hover{
	width: 150px;
}