* {
	box-sizing: border-box;
}

body {
	font-family: Courier New;
	background: url(back.png) no-repeat top;
	background-attachment: fixed;
}

header {
	text-align: center;
	background: grey;
	padding: 1px;
	margin-top: 0;
}


footer {
	background: #414141;
	margin-top: 20px;
	color:white;
	padding: 5px;
}

footer h1{
	font-size: 18px;
}


/* Design des divisions menus*/

#menu {
	display: grid;
	grid-column-gap: 12%;
	grid-row-gap: 40px;
	border-bottom: 2px solid grey;
	padding: 20px;
	justify-content: center;
	grid: 65px 65px/ 110px 110px 110px 110px;
}


#menu > div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8ca0ff;
	border-radius: 7px;
	transition: 1.5s ease;
}

#menu > div:hover {
	transform: rotate(100deg);
}



/* Début des containers et articles*/

#container {
	background: white;
	margin: 10px;
	padding: 5px;
	border:1px solid silver;
}

#Imgfake{
	margin: 8px;
	padding: 2em;
	background: grey;
	height: 275px;
}


/*Articles*/

.articles{
	display: grid;
	justify-content: center;
	grid-template-columns:33% 33% 33%; 
}

.articles > div {
	border:1px solid black;
	background-color: rgba(0,0,0, 0.4);
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

#Imgfakeart{
	margin: 8px;
	padding: 2em;
	background: grey;
	height: 350px;
}


/* Adaptation en fonction des écrans */


@media screen and (max-width: 800px) {
  #menu {
  	grid:repeat(3 ,60px) / repeat(3, 110px);
	grid-column-gap: 16%;
  }
.articles{
  	grid-template-columns: 45% 45%;
  }
}

@media screen and (max-width: 600px) {
  #menu {
  	grid:repeat(4 ,60px) / repeat(2, 110px);
 	grid-column-gap: 20%;
  }
.articles{
  	grid-template-columns: 90%;
  }
}

