body {
	margin:0;
}


section {
		margin-left: 10px;
}

/* Header -----------------------------------------*/

header {
	background: #21262c;
	padding: 1px 150px;
}

header img {
	position: absolute;
	left: -10px;
	top: -35px;
	transform: scale(0.35);

}

#titre {
	font-size:35px;
	color: #CACACA;
	font-family: 'Allerta Stencil', sans-serif;
}

#sous-titre {
	font-size:21px;
	color: #9e9e9e;
	font-family: 'Alegreya', serif;margin-left: 30px;
}


/* Design du menu ----------------*/
#menu {
	/*display: grid;	pour telephones
	max-height: 0;
	background:white;
	border-bottom: 2px solid grey;
	margin: 5px 3%;
	grid: 45px 45px / 25% 25% 25% 25%;
	grid-row-gap: 1px;
	overflow:hidden;*/
	float: right;
	position: relative;
	top: -65px;
	margin-right: 8%;
}

#menu > a {
	/*padding-top: 4%;
	text-decoration: none;
	text-align: center;
	font-size: 110%;
	background-color: #21262c;
	color: #CACACA;
	margin: 0;*/
	font-family: 'Julius Sans One', sans-serif;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-size: 120%;
	color: #CACACA;
	padding: 5px;
	margin:15px;

}


#menu > a:after{
	/*
	content:"";
	float: right;
	height: 22px;
	border-right:2px solid white;*/
	content:"";
	display: block;
	height: 3px;
	width: 0px;
	background: #6C63FF;
	transition: .3s ease;
}

#menu >a:hover:after{
	/*border:1px solid white;
	cursor: pointer;*/
	cursor: pointer;
	width: 105%;
}

#menu > a:hover {
	color: white;
}


