/* Coeur de la page aka body ------------------------*/

* {
	box-sizing: border-box;
}

body {
	background-color: #F8F8F8;
	/*background: url(back.png) no-repeat top;
	background-attachment: fixed;*/
}



/* Header -----------------------------------------*/

header {
	background: #21262c;
	padding: 5px 150px;
}

header img {
	position: absolute;
	left: -10px;
	top: -5px;
	transform: scale(0.42);

}

#titre {
	font-size:50px;
	color: #CACACA;
	text-shadow: 2px 3px 3px grey;
	font-family: 'Allerta Stencil', sans-serif;
	font:
}

#sous-titre {
	font-size:30px;
	color: #9e9e9e;
	font-family: 'Alegreya', serif;margin-left: 30px;
}



/* Footer -----------------------------------------*/

footer {
	background: #414141;
	margin-top: 40px;
	color:white;
	padding: 5px;
}

footer h1{
	font-size: 18px;
}



/* Design des divisions menus ---------------------*/

/* Bouton ouverture menu ---------*/
#ouverture-menu {
	float: right;
	top: 80px;
	background: grey;
	color: #CACACA;
	height: 600px;
	width: 1.3em;
	word-wrap: break-word;
	position: sticky;
	position: -webkit-sticky;
}

#ouverture-menu p {
	margin: 0;
	padding: 2px;
	font-size: 120%;
	position: relative;
	top:40%;
}

#ouverture-menu:hover {
	text-shadow: -1px 0 white, 0 -1px white, 1px 0 white, 0 1px white;
}


/* Design du menu ----------------*/
#menu {
	display: grid;
	position: sticky;
	top: 10%;
	grid-column-gap: 10%;
	background:white;
	grid-row-gap: 70px;
	border-bottom: 2px solid grey;
	margin: 1% 3%;
	padding: 50px 0;
	justify-content: center;
	grid: 65px 65px/ 150px 150px 150px 150px;
}


#menu > div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8ca0ff;
	border-radius: 7px;
	transition: 0.9s ease;
}

#menu > div:hover {
	transform: translateX(50px);
}



/* Début des containers et articles ---------------*/

#container {
	margin: 30px 10%;
	padding: 10px;
}

#Imgfake{
	margin: 8px;
	padding: 2em;
	background: grey;
	height: 400px;
}


/*Articles ----------------------------------------*/

.articles{
	display: grid;
	justify-content: center;
	grid-template-columns:33% 33% 33%; 
}

.articles > div {
	border-bottom:2px solid black;
	border-top:2px solid black;
	background: #6459C4;
	padding: 0px 8px;
	margin: 10px 0px;
}

#Imgfakeart{
	margin: 2px;
	padding: 2px;
	background: grey;
	height: 400px;
}



/* Zone commentaire temporaire  --------------------*/
.Commentaires {
	padding-top: 10px;
	margin: 20px 20px;
	border:1px solid black;
}

/*
#canevas {
	position: absolute;
	right: 10%;
}
*/

.Commentaires a {
	text-decoration: none;
}

.Commentaires input {
	margin:5px auto;
	display:block;
	padding: 10px 10px;
}





/* Adaptation en fonction des écrans -----------------*/

/* Attention faire des addaptations en fonction des navigateurs !!!!!!!!!*/

/* Tablettes -----------------------------*/

@media screen and (max-width: 800px) {

	#menu {
		grid:repeat(3 ,60px) / repeat(3, 110px);
		grid-column-gap: 16%;
  	}

  	.articles{
  		grid-template-columns: 45% 45%;
  	}
}



/* Telephones ---------------------------*/

@media screen and (max-width: 600px) {

	header {
		padding: 1px 25px;
	}

	header img{
		display: none;
	}

  	#titre {
  		font-size: 33px;
  	}

  	#sous-titre{
  		font-size: 20px;
  	}

  	#menu {
  		grid:repeat(4 ,60px) / repeat(2, 110px);
 		grid-column-gap: 20%;
  	}

  	.articles{
  		grid-template-columns: 90%;
  	}
}

