/* Coeur de la page aka body ------------------------*/

* {
	box-sizing: border-box;
}

body {
	background-color: #EFEFEF;
	/*background: url(back.png) no-repeat top;
	background-attachment: fixed;*/
}

.titre-theme {
	margin: 100px 0 50px 100px;
	font-size: 30px;
}

.titre-theme:before {
	content:"";
	display: block;
	margin-bottom: 80px; 
	background: red;
	position: relative;
	left: 33%;
	width: 33%;
	border-top:1px solid black;
	box-shadow: 3px 3px 3px black;
}

/* Header -----------------------------------------*/

header {
	background: #21262c;
	padding: 5px 150px;
}

header img {
	position: absolute;
	left: -10px;
	top: -20px;
	transform: scale(0.42);

}

#titre {
	font-size:40px;
	color: #CACACA;
	font-family: 'Allerta Stencil', sans-serif;
	font:
}

#sous-titre {
	font-size:23px;
	color: #9e9e9e;
	font-family: 'Alegreya', serif;margin-left: 30px;
}



/* Footer -----------------------------------------*/

footer {
	background: #414141;
	margin-top: 40px;
	color:white;
	padding: 5px;
}

footer h1{
	font-size: 18px;
}



/* Design des divisions menus ---------------------*/

/* Bouton ouverture menu ---------*/
#ouverture-menu {
	float: right;
	top: 80px;
	background: grey;
	color: black;
	height: 600px;
	width: 1.3em;
	word-wrap: break-word;
	position: sticky;
	position: -webkit-sticky;
}

#ouverture-menu p {
	margin: 0;
	padding: 0 3px; /* ou 2px pour ◄ MENU */
	font-size: 120%;
	position: relative;
	top:40%;
}

#ouverture-menu:hover {
	text-shadow: -1px 0 white, 0 -1px white, 1px 0 white, 0 1px white;
	cursor: pointer;
}


/* Design du menu ----------------*/
#menu {
	display: grid;
	position: sticky;
	top: 1%;
	background:white;
	padding: 5px 10px;
	border-bottom: 2px solid grey;
	margin: 10px 3%;
	grid: 50px 50px / 25% 25% 25% 25%;
	grid-row-gap: 1px;
}

#menu:before {
	content:"";
	position: absolute;
	height: 30px;
	border-left: 10px solid #21262c;
	top: -15px;
	left: 25px;
}

#menu:after {
	content:"";
	position: absolute;
	height: 30px;
	border-right: 10px solid #21262c;
	top: -15px;
	right: 25px;
}

#menu > p {
	padding-top: 5%;
	text-align: center;
	background-color: #21262c;
	color: #CACACA;
	margin: 0;
}

#menu > p:after{
	content:"";
	float: right;
	height: 22px;
	border-right:2px solid white;
}

#menu >p:hover{
	border:1px solid white;
}
/* Début des containers et articles ---------------*/

#container {
	margin: 30px 10%;
	padding: 10px;
}

#Imgfake{
	margin: 8px;
	padding: 2em;
	background: grey;
	height: 400px;
}


/*Articles ----------------------------------------*/

.articles{
	display: grid;
	justify-content: center;
	grid-template-columns:35% 35%; 
}

.articles > div {
	border-top:2px solid black;
	padding: 0px 8px;
	margin: 20px 10px;
}

#Imgfakeart{
	margin: 2px;
	padding: 2px;
	background: grey;
	height: 400px;
}



/* Zone commentaire temporaire  --------------------*/
.Commentaires {
	padding-top: 10px;
	margin: 20px 20px;
	border:1px solid black;
}

/*
#canevas {
	position: absolute;
	right: 10%;
}
*/

.Commentaires a {
	text-decoration: none;
}

.Commentaires input {
	margin:5px auto;
	display:block;
	padding: 10px 10px;
}





/* Adaptation en fonction des écrans -----------------*/

/* Attention faire des addaptations en fonction des navigateurs !!!!!!!!!*/

/* Tablettes -----------------------------*/

@media screen and (max-width: 800px) {

	#menu {
		grid:repeat(3 ,60px) / repeat(3, 110px);
		grid-column-gap: 16%;
  	}

  	.articles{
  		grid-template-columns: 45% 45%;
  	}
}



/* Telephones ---------------------------*/

@media screen and (max-width: 600px) {

	header {
		padding: 1px 25px;
	}

	header img{
		display: none;
	}

  	#titre {
  		font-size: 33px;
  	}

  	#sous-titre{
  		font-size: 20px;
  	}

  	#menu {
  		grid:repeat(4 ,60px) / repeat(2, 110px);
 		grid-column-gap: 20%;
  	}

  	.articles{
  		grid-template-columns: 90%;
  	}
}

