/* Coeur de la page aka body ------------------------*/

* {
	box-sizing: border-box;
}

body {
	background-color: #EFEFEF;
	/*background: url(back.png) no-repeat top;
	background-attachment: fixed;*/
}

.titre-theme {
	margin: 80px 0 50px 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.titre-theme:before {
	content:"";
	display: block;
	margin-bottom: 150px; 
	background: red;
	position: relative;
	left: 30%;
	width: 38%;
	border-top:1px solid black;
	box-shadow: 3px 3px 3px black;
}

/* Header -----------------------------------------*/

header {
	background: #21262c;
	padding: 5px 150px;
}

header img {
	position: absolute;
	left: -10px;
	top: -20px;
	transform: scale(0.42);

}

#titre {
	font-size:40px;
	color: #CACACA;
	font-family: 'Allerta Stencil', sans-serif;
	font:
}

#sous-titre {
	font-size:23px;
	color: #9e9e9e;
	font-family: 'Alegreya', serif;margin-left: 30px;
}



/* Footer -----------------------------------------*/

footer {
	background: #414141;
	margin-top: 200px;
	color:white;
	padding: 5px;
}

footer h1{
	font-size: 18px;
}



/* Design des divisions menus ---------------------*/

/* Bouton ouverture menu ---------*/
.line {
	width: 35px;
	height: 3px;
	background: white;
	margin: 7px;
}

#ouverture-menu {
	position: absolute;
	cursor: pointer;
	padding: 3px;
	right: 3%;
	top:50px;
	transition: .5s ease;
}

/* Design du menu ----------------*/
#menu {
	display: grid;
	max-height: 0px;
	background:white;
	border-bottom: 2px solid grey;
	margin: 5px 3%;
	grid: 50px 50px / 25% 25% 25% 25%;
	grid-row-gap: 1px;
	overflow:hidden;
}

#menu > p {
	padding-top: 5%;
	text-align: center;
	font-size: 110%;
	background-color: #21262c;
	color: #CACACA;
	margin: 0;
}

#menu > p:after{
	content:"";
	float: right;
	height: 22px;
	border-right:2px solid white;
}

#menu >p:hover{
	border:1px solid white;
	cursor: pointer;
}



/* Début des containers et articles ---------------*/

#container {
	margin: 10% 9% 0 9%;
	padding: 10px;
}

#texte-presentation {
	float: right;
	width:auto;
	max-width: 55%;
	background: red;
}

#Imgfake{
	margin: 8px;
	padding: 2em;
	background: grey;
	height: 420px;
	width: 420px;
}

.spacer {
	clear: right;
}


/*Articles ----------------------------------------*/

.articles{
	display: grid;
	justify-content: center;
	grid-template-columns:45% 45%; 
}

.articles > div {
	border-top:1px solid black;
	padding: 0px 8px;
	margin: 50px 10% 0 10%;
}

#Imgfakeart{
	margin: 2px;
	padding: 2px;
	background: grey;
	height: 400px;
}



/* Zone commentaire temporaire  --------------------*/
.Commentaires {
	margin-left: 20px;
	margin-right: 20px;
}

/*
#canevas {
	position: absolute;
	right: 10%;
}
*/

.Commentaires a {
	text-decoration: none;
}

.Commentaires input {
	margin:5px auto;
	display:block;
	padding: 10px 10px;
}





/* Adaptation en fonction des écrans -----------------*/

/* Attention faire des addaptations en fonction des navigateurs !!!!!!!!!*/

/* Tablettes -----------------------------*/

@media screen and (max-width: 800px) {

	#menu {
		grid:repeat(3 ,60px) / repeat(3, 110px);
  	}

  	.articles{
  		grid-template-columns: 45% 45%;
  	}
}



/* Telephones ---------------------------*/

@media screen and (max-width: 600px) {

	header {
		padding: 1px 25px;
	}

	header img{
		display: none;
	}

	.titre-theme {
	margin: 100px 0 30px 30px;
	}

  	#titre {
  		font-size: 33px;
  	}

  	#sous-titre{
  		font-size: 20px;
  	}

  	#menu {
  		grid:repeat(4 ,45px) / repeat(2, 50%);

  	}

  	#menu > p{
  		padding-top: 6%;
  		font-size: 95%;
  	}

  	#ouverture-menu {
		right: 	4%;
	}

	.line{
		height: 2px;
		width: 	30px;
	}

  	.articles{
  		grid-template-columns: 90%;
  	}
}

